#beaker {
  border: 10px solid #fff;
  border-top: 0;
  border-radius: 0 0 30px 30px;
  height: 200px;
  left: 14px;
  bottom: 1px;
  width: 60px;
  position: relative;
}

#liquid {
  background-color: #3f2c62;
  border: 10px solid #3f2c62;
  border-radius: 0 0 20px 20px;
  bottom: 0rem;
  height: 150px;
  position: absolute;
  overflow: hidden;
  width: 40px;
}

#liquid .bubble {
  animation-name: bubble;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

#beaker2 {
  border: 10px solid #fff;
  border-top: 0;
  border-radius: 0 0 30px 30px;
  height: 200px;
  left: -120px;

  width: 60px;
  position: relative;
}

#liquid2 {
  background-color: #eca690;
  border: 10px solid #eca690;
  border-radius: 0 0 20px 20px;
  bottom: 0rem;
  height: 150px;
  position: absolute;
  overflow: hidden;
  width: 40px;
}

#liquid2 .bubble {
  animation-name: bubble;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

#beaker3 {
  border: 10px solid #fff;
  border-top: 0;
  border-radius: 0 0 30px 30px;
  height: 200px;
  left: 100px;
  width: 60px;
  top: -13.1rem;
  position: relative;
}

#liquid3 {
  background-color: #a0ccaa;
  border: 10px solid #a0ccaa;
  border-radius: 0 0 20px 20px;
  bottom: 0rem;
  height: 150px;
  position: absolute;
  overflow: hidden;
  width: 40px;
}

#liquid3 .bubble {
  animation-name: bubble;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

@keyframes bubble {
  0% {
    bottom: 0;
  }

  50% {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 80px;
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
    bottom: 160px;
  }
}

.bubble1 {
  left: 10px;
  animation-delay: 1000ms;
  animation-duration: 1000ms;
}

.bubble2 {
  left: 20px;
  animation-delay: 700ms;
  animation-duration: 1100ms;
}

.bubble3 {
  left: 0;
  animation-delay: 1200ms;
  animation-duration: 1300ms;
}

.bubble4 {
  left: 5px;
  animation-delay: 1100ms;
  animation-duration: 700ms;
}

.bubble5 {
  left: 10px;
  animation-delay: 1300ms;
  animation-duration: 800ms;
}

.bubble6 {
  left: 20px;
  animation-delay: 1000ms;
  animation-duration: 600ms;
}
