body {
  padding: 0;
  margin: 0;
}

#all {
  width: 440px;
  height: 430px;
  justify-content: center;
  margin-left: auto;
  position: relative;
}

#page-flip {
  background-image: url("../../Images/pubBackground.png");
  position: absolute;
  padding: 28px 80px 40px 260px;
  width: 440px;
  height: 340px;
  left: -160px;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
}

#r1 {
  position: absolute;
  z-index: 2;
  transform-origin: 1315px 500px;
  transform: translate(-1030px, -500px) rotate(-32deg);
  transition-property: -webkit-transform, -webkit-transform-origin;
  transition-duration: 1s;
}

#p1 {
  width: 1285px;
  height: 1388px;
  overflow: hidden;
}

#p1 > div {
  transform-origin: 285px 0;
  transform: translate(1030px, 500px) rotate(32deg);
  transition-property: -webkit-transform, -webkit-transform-origin;
  transition-duration: 1s;
  width: 285px;
  height: 360px;
  background-size: contain;
  background-image: url("../../Images/pub3.png");
  bottom: 500px;
}

#p1 > div > div {
  width: 10px;
  height: 388px;
  background: gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0.25)),
    to(rgba(0, 0, 0, 0))
  );
}

#p2 > div {
  width: 285px;
  height: 360px;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
  background-size: contain;
  background-image: url("../../Images/pub.png");
}

#r3 {
  transform-origin: 1315px 500px;
  transform: translate(-1030px, -500px) rotate(-32deg);
  transition-property: -webkit-transform, -webkit-transform-origin;
  transition-duration: 1s;
  position: absolute;
  z-index: 2;
}

#s3 {
  transform-origin: 70px 500px;
  transform: translate(215px, -500px) rotate(-32deg) translate(40px, 0);
  transition-property: -webkit-transform, -webkit-transform-origin;
  transition-duration: 1s;
  position: absolute;
  z-index: 1;
}

#page-flip:hover #s3 {
  transform-origin: 325px 500px;
  transform: translate(-40px, -500px) rotate(0deg) translate(40px, 0);
}

#sp3 {
  width: 25px;
  height: 1000px;
  background: gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0.25)),
    to(rgba(0, 0, 0, 0))
  );
  transition-property: width;
  transition-duration: 1s;
  overflow: hidden;
}

#page-flip:hover #sp3 {
  width: 11px;
}

.s {
  width: 285px;
  height: 388px;
  position: absolute;
  overflow: hidden;
  z-index: 3;
  left: 100px;
}

#s2 {
  transform-origin: 45px 500px;
  transform: translate(240px, -500px) rotate(-32deg);
  transition-property: -webkit-transform, -webkit-transform-origin;
  transition-duration: 1s;
  position: absolute;
}

#sp2 {
  width: 15px;
  height: 1000px;
  background: gradient(
    linear,
    right top,
    left top,
    from(rgba(0, 0, 0, 0.18)),
    to(rgba(0, 0, 0, 0))
  );
  overflow: hidden;
}

#s4 {
  opacity: 1;
  transition-duration: 0.5s;
}

#page-flip:hover #s4 {
  opacity: 0;
}

#page-flip:hover #s2 {
  transform-origin: 300px 500px;
  transform: translate(-15px, -500px) rotate(0deg);
}

#p3 {
  width: 1285px;
  height: 1388px;
  overflow: hidden;
}

#p3 > div {
  transform-origin: 0 0;
  transform: translate(1255px, 500px) rotate(-32deg);
  transition-property: -webkit-transform, -webkit-transform-origin;
  transition-duration: 1s;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.5);
  width: 285px;
  height: 360px;
  background-size: contain;
  background-image: url("../../Images/pub2.png");
  overflow: hidden;
}

#p3 > div > div {
  width: 9px;
  height: 500px;
  float: right;
  background: gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 0.2))
  );
}

#page-flip:hover #r1 {
  transform-origin: 1570px 500px;
  transform: translate(-1285px, -500px) rotate(0deg);
}

#page-flip:hover #p1 > div {
  transform-origin: 285px 0;
  transform: translate(1285px, 500px) rotate(0deg);
}

#page-flip:hover #r3 {
  transform-origin: 1570px 500px;
  transform: translate(-1285px, -500px) rotate(0deg);
}

#page-flip:hover #p3 > div {
  transform-origin: 0 0;
  transform: translate(1000px, 500px) rotate(0deg);
}
