.App {
  position: relative;
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
}

@media screen and (min-width: 1010px) {
  .Background {
    background-image: url("./Images/bedroomfinal.jpeg");
    height: 1000px;
    width: 1000px;
    background-size: 100%;
  }
  .QuestionBack {
    transform: translate(890px, 200px);
  }
  .Portrait {
    transform: translate(100px, 296px);
    width: 10rem;
    height: 13rem;
  }
  .Laptop {
    transform: translate(645px, 456px);
    width: 8rem;
    height: 8rem;
  }
  .name {
    padding-top: 1.5rem;
  }
  .spam {
    transform: translate(650px, 456px) rotate(-5deg);
    width: 2.8rem;
    height: 2.8rem;
  }
  .book {
    transform: translate(200px, 456px);
    width: 5rem;
    height: 5rem;
  }
  .science {
    transform: translate(368px, 250px);
    width: 5rem;
    height: 5rem;
  }
  .diploma {
    transform: translate(540px, 240px) rotate(1deg);
    width: 5.8rem;
    height: 5.8rem;
  }
  .res {
    transform: translate(310px, 536px) rotate(2deg);
    width: 2.5rem;
    height: 2.5rem;
  }
  .b {
    transform: translate(730px, 356px);
    width: 2.7rem;
    height: 2.7rem;
  }
  .m {
    transform: translate(750px, 230px);
  }
}
@media screen and (max-width: 1009px) and (min-width: 824px) {
  .Background {
    background-image: url("./Images/bedroomfinal.jpeg");
    height: 900px;
    width: 900px;
    background-size: 100%;
  }
  .QuestionBack {
    transform: translate(780px, 200px);
  }
  .Portrait {
    transform: translate(100px, 261px);
    width: 8.5rem;
    height: 11.5rem;
  }
  .Laptop {
    transform: translate(560px, 390px);
    width: 7rem;
    height: 7rem;
  }
  .name {
    padding-top: 1.5rem;
  }
  .spam {
    transform: translate(560px, 400px) rotate(-5deg);
    width: 2.8rem;
    height: 2.8rem;
  }
  .book {
    transform: translate(200px, 406px);
    width: 4rem;
    height: 4rem;
  }
  .science {
    transform: translate(328px, 220px);
    width: 4.5rem;
    height: 4.5rem;
  }
  .diploma {
    transform: translate(490px, 220px) rotate(1deg);
    width: 4.8rem;
    height: 4.8rem;
  }
  .res {
    transform: translate(270px, 480px) rotate(2deg);
    width: 2.5rem;
    height: 2.5rem;
  }
  .b {
    transform: translate(650px, 306px);
    width: 2rem;
    height: 2rem;
  }
  .m {
    transform: translate(630px, 230px);
  }
}
@media screen and (max-width: 823px) and (min-width: 700px) {
  .Background {
    background-image: url("./Images/bedroomfinal.jpeg");
    height: 750px;
    width: 750px;
    background-size: 100%;
  }
  .QuestionBack {
    transform: translate(660px, 170px);
  }
  .Portrait {
    transform: translate(80px, 200px);
    width: 7.5rem;
    height: 10.5rem;
  }
  .Laptop {
    transform: translate(480px, 340px);
    width: 6rem;
    height: 6rem;
  }
  .name {
    padding-top: 1.5rem;
  }
  .spam {
    transform: translate(480px, 350px) rotate(-5deg);
    width: 2rem;
    height: 2rem;
  }
  .book {
    transform: translate(150px, 346px);
    width: 3rem;
    height: 3rem;
  }
  .science {
    transform: translate(260px, 180px);
    width: 3.5rem;
    height: 3.5rem;
  }
  .diploma {
    transform: translate(410px, 180px) rotate(1deg);
    width: 4.8rem;
    height: 4.8rem;
  }
  .res {
    transform: translate(220px, 400px) rotate(2deg);
    width: 2rem;
    height: 2rem;
  }
  .b {
    transform: translate(535px, 256px);
    width: 2rem;
    height: 2rem;
  }
  .m {
    transform: translate(520px, 200px);
  }
}
@media screen and (max-width: 699px) and (min-width: 500px) {
  .Background {
    background-image: url("./Images/bedroomfinal.jpeg");
    height: 550px;
    width: 550px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .QuestionBack {
    transform: translate(440px, 100px);
  }
  .Portrait {
    transform: translate(57px, 140px);
    width: 5.5rem;
    height: 8.5rem;
  }
  .Laptop {
    transform: translate(340px, 230px);
    width: 5rem;
    height: 5rem;
  }
  .name {
    padding-top: 1.5rem;
  }
  .spam {
    transform: translate(345px, 240px) rotate(-5deg);
    width: 2rem;
    height: 2rem;
  }
  .book {
    transform: translate(110px, 260px);
    width: 2rem;
    height: 2rem;
  }
  .science {
    transform: translate(200px, 140px);
    width: 2.5rem;
    height: 2.5rem;
  }
  .diploma {
    transform: translate(290px, 130px) rotate(1deg);
    width: 3.8rem;
    height: 3.8rem;
  }
  .res {
    transform: translate(170px, 290px) rotate(2deg);
    width: 1.5rem;
    height: 1.5rem;
  }
  .b {
    transform: translate(390px, 186px);
    width: 1.5rem;
    height: 1.5rem;
  }
  .m {
    transform: translate(330px, 150px);
  }
}
@media screen and (max-width: 499px) {
  .Background {
    background-image: url("./Images/bedroomfinal.jpeg");
    height: 400px;
    width: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .QuestionBack {
    right: 1.5rem;
  }
  .Portrait {
    transform: translate(40px, 100px);
    width: 4rem;
    height: 7rem;
  }
  .Laptop {
    transform: translate(250px, 170px);
    width: 4rem;
    height: 4rem;
  }
  .name {
    left: -12rem;
    transform: translate(205px, 50px) rotate(-29deg);
  }
  .spam {
    transform: translate(255px, 180px) rotate(-5deg);
    width: 1.5rem;
    height: 1.5rem;
  }
  .book {
    transform: translate(80px, 190px);
    width: 1.5rem;
    height: 1.5rem;
  }
  .science {
    transform: translate(150px, 105px);
    width: 1.5rem;
    height: 1.5rem;
  }
  .diploma {
    transform: translate(205px, 90px) rotate(1deg);
    width: 2.8rem;
    height: 2.8rem;
  }
  .res {
    transform: translate(120px, 220px) rotate(2deg);
    width: 1rem;
    height: 1rem;
  }
  .b {
    transform: translate(290px, 136px);
    width: 1rem;
    height: 1rem;
  }
  .m {
    transform: translate(200px, 30px);
  }
  .about {
    flex-direction: column;
    align-items: center;
  }
  .swBackground {
    left: 6.2rem;
    top: 2rem;
    height: 26rem;
    width: 12rem;
    overflow: scroll;
  }
  .osw {
    background-image: url("./Images/laptop.jpeg");
    background-size: 1500px;
  }
}
.Objects {
  cursor: pointer;
  animation: wiggle 2s infinite;
}

.plz:hover {
  outline: 3px dotted #f7d391;
  outline-offset: 3px;
}
@keyframes wiggle {
  0% {
    transform: translate(1px, 1px);
  }
  5% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(-1px, -1px);
  }
  15% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.Question {
  cursor: pointer;
  width: 2rem;
}
.Question:hover {
  background-color: #f1d7d8;
  border-radius: 3rem;
}

.text {
  text-decoration: none;
  color: #679a99;
}
.text:hover {
  color: #f1d7d8;
}
.menuItems {
  margin: 0.5rem;
  font-size: 1rem;
  text-align: center;
}

.Back {
  cursor: pointer;
  width: 2rem;
}
.Back:hover {
  background-color: #f1d7d8;
  border-radius: 3rem;
}

.BackAlt {
  cursor: pointer;
  width: 2rem;
}
.BackAlt:hover {
  background-color: lightgray;
  border-radius: 3rem;
}

.wrap {
  position: relative;
}
.body {
  position: absolute;
  top: 250px;
  left: 250px;
  height: 85px;
  width: 75px;
  border-radius: 100%;
  z-index: 1;
  background-color: #f7d391;
  box-shadow: 20px 0 0 #000, 40px -3px 0 #f7d391, 60px -7px 0 #000,
    80px -11px 0 #f7d391;
}
.wing1 {
  position: absolute;
  height: 55px;
  width: 55px;
  top: 210px;
  left: 280px;
  transform: rotate(20deg);
  transform-origin: bottom right;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 10px;
  background-color: white;
  z-index: 1;
  filter: blur(1px);
  animation: flutter1 0.08s linear reverse infinite;
}
.wing2 {
  position: absolute;
  height: 55px;
  width: 55px;
  top: 205px;
  left: 290px;
  transform: rotate(80deg);
  transform-origin: bottom right;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 10px;
  background-color: white;
  z-index: 2;
  filter: blur(1px);
  animation: flutter2 0.08s linear infinite;
}

.stinger {
  position: absolute;
  height: 55px;
  width: 55px;
  top: 255px;
  left: 355px;
  transform: rotate(320deg);
  border-top-right-radius: 50%;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 10px;
  background-color: #000;
  z-index: 0;
}

.eyes {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 260px;
  left: 250px;
  background-color: white;
  box-shadow: 20px 0 0 white;
  border-radius: 100%;
  z-index: 2;
}
.pupil {
  position: absolute;
  height: 15px;
  width: 15px;
  top: 10px;
  left: 2px;
  background-color: #000;
  border-radius: 100%;
  box-shadow: 20px 0 0 #000;
  z-index: 3;
}
@keyframes dodging1 {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
.wrap2 {
  position: absolute;
  left: 43%;
  margin-top: -100px;
  animation: dodging1 1s ease-in-out infinite;
}

@keyframes flutter2 {
  0% {
    transform: rotate(80deg);
  }
  50% {
    transform: rotate(100deg);
  }
}
@keyframes flutter1 {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(40deg);
  }
}
.cloud2 {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 150px;
  left: 400px;
  border-radius: 100%;
  box-shadow: 100px 200px 2px rgba(255, 255, 255, 0.95),
    50px 205px 1px rgba(255, 255, 255, 0.95),
    10px 200px 1px rgba(255, 255, 255, 0.95),
    35px 170px 1px rgba(255, 255, 255, 0.95),
    70px 170px 1px rgba(255, 255, 255, 0.95);
  animation: cloud 5s 2s linear infinite;
  z-index: 3;
}
.cloud3 {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  box-shadow: 150px 200px 2px rgba(255, 255, 255, 0.95),
    75px 205px 1px rgba(255, 255, 255, 0.95),
    10px 200px 1px rgba(255, 255, 255, 0.95),
    45px 150px 1px rgba(255, 255, 255, 0.95),
    120px 150px 1px rgba(255, 255, 255, 0.95);
  animation: cloud2 2s 1s linear infinite;
  z-index: 3;
}

@keyframes cloud {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@keyframes cloud2 {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.moveDown {
  transition: transform 750ms;
  will-change: transform;
}
.moveDown:hover {
  transform: translateY(5px);
}

.moveUp {
  transition: transform 750ms;
  will-change: transform;
}
.moveUp:hover {
  transform: translateY(-5px);
}
.moveLeft {
  transition: transform 750ms;
  will-change: transform;
}
.moveLeft:hover {
  transform: translateX(-5px);
}

@media screen and (min-width: 821px) {
  .osw {
    background-image: url("./Images/laptop.jpeg");
    background-size: 1050px;
  }
  .swBackground {
    left: 18.2rem;
    top: 5.5rem;
    height: 19rem;
    width: 29.2rem;
  }
}
@media screen and (max-width: 820px) and (min-width: 500px) {
  .osw {
    background-image: url("./Images/laptop.jpeg");
    background-size: 1050px;
    background-position: 45%;
  }
  .swBackground {
    left: 9.2rem;
    top: 0.8rem;
    height: 19rem;
    width: 29.2rem;
  }
}

.typewriter {
  height: 2rem;
  overflow: hidden;
  border-right: 2px solid #f7d391;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 5px;
  animation: typing 0.8s steps(30, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #f7d391;
  }
}

.socialMed:hover {
  background-color: #f1d7d8;
  border-radius: 1rem;
}

.thought {
  display: flex;
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  min-width: 40px;
  max-width: 220px;
  min-height: 40px;
  margin: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: wiggle 2s ease-in-out;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1094px) {
  .ListLayout {
    display: flex;
    flex-direction: row;
  }
  .PublicationWidth {
    width: 65%;
  }
  .CertWidth {
    width: 35%;
  }
}

@media screen and (max-width: 1093px) {
  .ListLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .PublicationWidth {
    width: 100%;
  }
  .CertWidth {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .ListLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .CertWidth {
    width: 100%;
  }
}
@media screen and (min-width: 801px) {
  .osOrganize {
    flex-direction: row;
  }
  .osContainer {
    height: 26rem;
  }
  .location {
    flex-direction: row;
  }
}
@media screen and (max-width: 800px) {
  .osOrganize {
    flex-direction: column;
    align-items: center;
  }
  .osContainer {
    height: 55rem;
  }
  .location {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .osOrganize {
    flex-direction: column;
    align-items: start;
  }
  .osContainer {
    height: 58rem;
  }
}

@media screen and (min-width: 729px) {
  .pubContainer {
    width: 44rem;
    width: 1.5rem 1.5rem 1.5rem 2.5rem;
  }
  .certContainer {
    margin: 2.5rem 2.5rem 0.5rem 1.5rem;
    width: 21rem;
  }
  .wrap2 {
    position: absolute;
    left: 43%;
    margin-top: -100px;
    animation: dodging1 1s ease-in-out infinite;
  }
  .beeBack {
    height: 28rem;
    margin: 1.5rem 2.5rem;
  }
  .hawaii {
    flex-direction: row;
  }
  .hawaiiContainer {
    height: 25rem;
  }
  .spamCont {
    top: -4rem;
  }
  .hungry {
    top: 1.5rem;
    left: 25rem;
  }
}

@media screen and (max-width: 728px) {
  .pubContainer {
    width: 100%;
    margin: 0rem;
  }
  .certContainer {
    margin: 1.5rem 2.5rem;
    width: 100%;
  }
  .CertWidth {
    width: 100%;
  }
  .wrap2 {
    position: absolute;
    left: -26%;
    margin-top: 120px;
    animation: dodging1 1s ease-in-out infinite;
  }
  .beeBack {
    height: 34rem;
    margin: 1.5rem 0.5rem;
    padding: 1rem;
  }
  .hawaii {
    flex-direction: column;
  }
  .hawaiiContainer {
    height: 52rem;
  }
  .spamCont {
    top: 25rem;
    left: -6rem;
  }
  .hungry {
    left: 1rem;
    top: 23rem;
  }
}
